<header>
  <!-- Barra de navegação superior -->
  <mat-toolbar class="bg-blue-400! flex justify-between"> <!-- Toolbar do Angular Material com fundo azul -->
    
    <div class="flex items-center"><!-- Botão com um evento para abrir/fechar o menu lateral -->
      <button (click)="drawer.toggle()" mat-icon-button class="text-white!" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon> <!-- Ícone do menu hambúrguer -->
      </button> 
  
      <!-- Nome do sistema dentro da barra de navegação -->
      <span class="text-white!">Employee Management System</span>
    </div>
    @if(authService.isLoggedIn){
      <div class="flex gap-2 items-center">
        <span class="text-white!">{{authService.authDetail?.email}}</span>
        <button 
          (click)="logout()" 
          mat-icon-button 
          class="text-white!">
          <mat-icon>logout</mat-icon> <!-- Ícone do menu hambúrguer -->
        </button>
      </div>
     
    }

  </mat-toolbar>
</header>

<!-- Contêiner do Drawer (Menu lateral) -->
<mat-drawer-container class="" autosize>
  
  <!-- Menu lateral -->
  <mat-drawer #drawer class="w-[300px] bg-white shadow-lg" [mode]="'side'" [opened]="authService.isLoggedIn">
    <div class="flex flex-col items-center gap-4 text-blue-700 p-4">
      @if(authService.isEmployee){
        <a routerLink="/employee-dashboard">DashBoard Funcionario</a>
      } @else {      
      <a routerLink="/">DashBoard</a>
      <a routerLink="/departments">Departamentos</a>
      <a routerLink="/employees">Empregados</a>
    }
    </div>
  </mat-drawer>  

  <!-- Conteúdo principal ao lado do menu lateral -->
  <mat-drawer-content>
    <main class="min-h-screen bg-gray-100">
      <router-outlet></router-outlet><!-- Aqui vai ser carregado o conteudo do componente clicado-->
    </main> <!-- Corpo da página com fundo gray -->
  </mat-drawer-content>

</mat-drawer-container>

<!-- Rodapé da página -->
<footer></footer>
